VITE_SUPABASE_URL=https://bokvqndvwqgugkcrizwj.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_WONhLBnVl1ea_sroDggFAw_FuTZlZFX
VITE_DUOMEI_MEDIA_URL=https://duomei-media-storage.colorsugar.workers.dev
